{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section certifications-section">

    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
        {{ certifications.title }}
    </h2>

    {% for certification in certifications.items %}
    <div class="item">
        {% if certification.name %}
        <li>{{ certification.name }}</li>
        {% endif %}
    </div><!--//item-->
    {% endfor %}

</section><!--//section-->
{% endif %}
